
<mat-form-field appearance="fill">
    <mat-label>Nom</mat-label>
    <input matInput>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Pronom</mat-label>
    <input matInput>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Mot de passe</mat-label>
    <input matInput>
  </mat-form-field>
  <mat-form-field appearance="fill"> 
    <mat-label>Statut</mat-label>
    <mat-select>
      <mat-option value="premier">Administrateur</mat-option>
      <mat-option value="deuxième">Pharmacien</mat-option>
      <mat-option value="troisième">Employé inventaire</mat-option>
      <mat-option value="quatrième">Medecin</mat-option>
      <mat-option value="two">Utilisateur final</mat-option>
    </mat-select>
  </mat-form-field>
  <a href="/src/app/login/login.component.html"routerLink="/login" routerLinkActive="active"><button mat-raised-button type="submit" 
    class="inscrir">S'inscrire</button>
  </a>
