<div class="principale">
  <mat-toolbar color="primary">
    <span > <button mat-button color="accent" routerLink="/">Home App-Pharma</button>
      <button mat-button color="accent" routerLink="/inscription">inscription</button>
      <button mat-button color="accent" routerLink="/login">Connexion</button>
      <button mat-button color="accent" routerLink="/medicament">crud</button>
    </span>
  </mat-toolbar>
  <br/><br/>
  <label>veuillez sqisir le nom du médicament souhaité</label>
  <input  type="text" [(ngModel)]="Nom_Medoc" (input)="Search()"/>
 
  <br/><br/>
 <table class="medicament">
   <thead>
      <tr>
        <th>ID</th>
        <th>Code_cip</th>
        <th>Nom du Meddicament</th>
        <th>Forme</th>
        <th>Dosage</th>
        <th>Notice du medicament</th>
        <th>Conditionnement du Medicament</th>
        <th>Marque du Medicament</th>
      </tr>
  </thead>
   <tbody>

    <tr *ngFor='let o of medicament'>
        <td>{{o.ID}}</td>
        <td>{{o.Code_Cip}}</td>
        <td>{{o.Nom_Medoc}}</td>
        <td>{{o.Forme}}</td>
        <td>{{o.Dosage}}</td>
        <td>{{o.Notice_Medoc}}</td>
        <td>{{o.conditionnement_Medoc}}</td>
        <td>{{o.Marque_Medoc}}</td>
        
    </tr>
  </tbody>
 </table>
 