table{
    margin: 0;
    padding: 0;
    font-family: Arial;
    box-sizing: border-box;
    height: auto;
    display: grid;
    place-items: center;
    width: 1000px;
    box-shadow: -1px 12px 12px -6px rgba(0,0,0,0.5);
}
table,td,th{
    padding: 20px;
    border: 1px solid lightgray;
    border-collapse: collapse;
    text-align: center;
}
td{
    font-size: 18px;

}
th{
    background-color: blue;
    color: white;
}
.medicament{
    border-collapse:collapse;
}
