<div fxLayoutAlign="center center" fxFlexFill class="hassan">
    <mat-card fxFlex ="25">
      <mat-toolbar color="primary">Page de connexion</mat-toolbar>
        <form fxLayoutAlign="stretch" fxLayout="column" class="hassan2" #login="ngForm" (ngSubmit)="loginUser()">
          <small class="text-danger"> {{message}} </small>
            <mat-form-field >
             
               <input matInput  placeholder="Username" [(ngModel)]="user.UserName">
            </mat-form-field>
          
            <mat-form-field >
              
              
              <input matInput type="password" placeholder="Password" [(ngModel)]="user.password">
            </mat-form-field>
<<<<<<< HEAD
            
           <a href="/src/app/medicament/medicament.component.html"> <button mat-raised-button type="submit">Login</button></a>
=======
           <a href="/src/cdk-admin/src/app/app.component.html"> <button mat-raised-button type="submit">Login</button></a>
>>>>>>> c48fb7067df476f5fec20cd57ada92d7eb093731
          </form>
    </mat-card>
</div>
